@{
    ViewBag.Title = "Home Page";
}
<section>
    <h1 style="color: #6BB9F0; ">Keeping Your Finance:</h1>
    <!--div class="IndexContent"><img alt="Registrar Tarjetas.png" src="/Content/Img/registrarTarjeta.png" width="30%" height="100%"></div>
    <div class="IndexContent"><img alt="Registrar Transacion.png" src="/Content/Img/Registrar Transaccion .png" width="30%" height="100%"></div-->
    <div class="IndexContent"><a href="../Tarjeta/">Ver mis tarjetas.</a></div>
    <div class="IndexContent"><a href="../Transaccion/">Ver mis transacciones.</a></div>
</section>