USE [master]
GO
/****** Object:  Database [DBKeepingYourFinance]    Script Date: 3/9/2015 8:31:38 PM ******/
CREATE DATABASE [DBKeepingYourFinance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBKeepingYourFinance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBKeepingYourFinance.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBKeepingYourFinance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBKeepingYourFinance_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBKeepingYourFinance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBKeepingYourFinance]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Motivoes]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motivoes](
	[MotivoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Motivoes] PRIMARY KEY CLUSTERED 
(
	[MotivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[TarjetaID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTarjeta] [nvarchar](max) NOT NULL,
	[EntidadBancaria] [nvarchar](max) NOT NULL,
	[TarjetaTipoID] [int] NOT NULL,
	[Propietario] [nvarchar](max) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[fechaCorte] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Tarjetas] PRIMARY KEY CLUSTERED 
(
	[TarjetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TarjetaTipoes]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaTipoes](
	[TarjetatipoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TarjetaTipoes] PRIMARY KEY CLUSTERED 
(
	[TarjetatipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transaccions]    Script Date: 3/9/2015 8:31:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccions](
	[TransaccionID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Monto] [real] NOT NULL,
	[MotivoID] [int] NOT NULL,
	[TarjetaID] [int] NOT NULL,
	[fecha] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Transaccions] PRIMARY KEY CLUSTERED 
(
	[TransaccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Name], [Correo], [Discriminator]) VALUES (N'2a369baf-8bb0-4083-b0b7-f121b1d6d8a2', N'franksoft', N'AC0q7yFPKZLybPn7IHRcep7kqcClkDpkjJA7PaDIuIohEoc3hFk7bcVHG3rIsfQk9Q==', N'2fa20986-ef34-4420-867a-42af2a40d86c', N'frankmer', N'frankmer@outlook.com', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Name], [Correo], [Discriminator]) VALUES (N'c3a5844b-6913-4d1f-a4d5-6c1dde8df31a', N'joseMas', N'AARMTnulAm1fD0NWx/8ewXHK7pSRU+L3wHDo6vdQXLcRV8z6mLhjm6wR3WixJXR5tg==', N'fea7843b-210c-441c-b482-dadbd74ced48', N'Jose', N'jose@mail.com', N'ApplicationUser')
SET IDENTITY_INSERT [dbo].[Motivoes] ON 

INSERT [dbo].[Motivoes] ([MotivoID], [Nombre]) VALUES (1, N'Comida')
INSERT [dbo].[Motivoes] ([MotivoID], [Nombre]) VALUES (2, N'Mediciana')
INSERT [dbo].[Motivoes] ([MotivoID], [Nombre]) VALUES (3, N'Super Mercado')
SET IDENTITY_INSERT [dbo].[Motivoes] OFF
SET IDENTITY_INSERT [dbo].[Tarjetas] ON 

INSERT [dbo].[Tarjetas] ([TarjetaID], [NumeroTarjeta], [EntidadBancaria], [TarjetaTipoID], [Propietario], [Monto], [fechaCorte]) VALUES (1, N'4115-7846-4781-9547', N'Scotia Bank', 1, N'franksoft', CAST(15000.00 AS Decimal(18, 2)), N'2017-05-13')
INSERT [dbo].[Tarjetas] ([TarjetaID], [NumeroTarjeta], [EntidadBancaria], [TarjetaTipoID], [Propietario], [Monto], [fechaCorte]) VALUES (2, N'4417-4874-4874-1887', N'Popular', 1, N'franksoft', CAST(14000.00 AS Decimal(18, 2)), N'2017-05-13')
INSERT [dbo].[Tarjetas] ([TarjetaID], [NumeroTarjeta], [EntidadBancaria], [TarjetaTipoID], [Propietario], [Monto], [fechaCorte]) VALUES (3, N'7849-4187-4187-4978', N'BanReserva', 3, N'franksoft', CAST(10000.00 AS Decimal(18, 2)), N'2017-05-13')
SET IDENTITY_INSERT [dbo].[Tarjetas] OFF
SET IDENTITY_INSERT [dbo].[TarjetaTipoes] ON 

INSERT [dbo].[TarjetaTipoes] ([TarjetatipoID], [Descripcion]) VALUES (1, N'Visa')
INSERT [dbo].[TarjetaTipoes] ([TarjetatipoID], [Descripcion]) VALUES (2, N'Master Card')
INSERT [dbo].[TarjetaTipoes] ([TarjetatipoID], [Descripcion]) VALUES (3, N'ATH')
SET IDENTITY_INSERT [dbo].[TarjetaTipoes] OFF
SET IDENTITY_INSERT [dbo].[Transaccions] ON 

INSERT [dbo].[Transaccions] ([TransaccionID], [Descripcion], [Monto], [MotivoID], [TarjetaID], [fecha]) VALUES (1, N'Cena en res. Hmnos Villar', 1500, 1, 1, N'2016-03-4')
INSERT [dbo].[Transaccions] ([TransaccionID], [Descripcion], [Monto], [MotivoID], [TarjetaID], [fecha]) VALUES (2, N'Compra de cuadernos apolo', 355, 5, 1, N'2015-02-15')
INSERT [dbo].[Transaccions] ([TransaccionID], [Descripcion], [Monto], [MotivoID], [TarjetaID], [fecha]) VALUES (3, N'Winasord anti-gripal', 150, 2, 2, N'2015-03-07')
SET IDENTITY_INSERT [dbo].[Transaccions] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TarjetaTipoID]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_TarjetaTipoID] ON [dbo].[Tarjetas]
(
	[TarjetaTipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MotivoID]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_MotivoID] ON [dbo].[Transaccions]
(
	[MotivoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TarjetaID]    Script Date: 3/9/2015 8:31:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_TarjetaID] ON [dbo].[Transaccions]
(
	[TarjetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tarjetas_dbo.TarjetaTipoes_TarjetaTipoID] FOREIGN KEY([TarjetaTipoID])
REFERENCES [dbo].[TarjetaTipoes] ([TarjetatipoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [FK_dbo.Tarjetas_dbo.TarjetaTipoes_TarjetaTipoID]
GO
ALTER TABLE [dbo].[Transaccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaccions_dbo.Motivoes_MotivoID] FOREIGN KEY([MotivoID])
REFERENCES [dbo].[Motivoes] ([MotivoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccions] CHECK CONSTRAINT [FK_dbo.Transaccions_dbo.Motivoes_MotivoID]
GO
ALTER TABLE [dbo].[Transaccions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaccions_dbo.Tarjetas_TarjetaID] FOREIGN KEY([TarjetaID])
REFERENCES [dbo].[Tarjetas] ([TarjetaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccions] CHECK CONSTRAINT [FK_dbo.Transaccions_dbo.Tarjetas_TarjetaID]
GO
USE [master]
GO
